body {
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hidden {
    display: none;
}

.card-body {
    box-sizing: border-box;
    /* background-color: #1f2630; */
    background-color: hsl(215, 23%, 14%);
    width: 425px;
    height: 425px;
    border-radius: 6%;
    margin: auto;
    padding: 30px;
}

/*---------------------------
        Rating Card
---------------------------*/

.star-bubble {
    background-color: hsl(213, 19%, 18%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    color: hsl(0, 0%, 100%);
    font-size: 1.7rem;
    margin-bottom: 10px;
}

p {
    line-height: 1.5rem;
    margin-bottom: 30px;
}

button {
    display: block;
    margin: auto;
    margin-top: 30px;
    appearance:none;
    height: 50px;
    width: 350px;
    border:none;
    border-radius: 50px;
    color:hsl(0, 0%, 100%);
    background-color:hsl(25, 97%, 53%);
    font-family: 'Overpass', sans-serif;
    font-size: large;
    transition: 0.3s;
}

button:hover {
    background-color: hsl(0, 0%, 100%);
    color:hsl(25, 97%, 53%);
    cursor: pointer;
}

input[type="radio"] {
    appearance: none;
}

.radio-btn {
    display: inline-block;
    background-color: hsl(213, 19%, 18%);
    color:hsl(217, 12%, 63%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 6px;
    transition: 0.1s;
    line-height: 50px;
    text-align: center;
}

.radio-btn:hover {
    background-color:hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

/*-------------------------
      Thank You Card
-------------------------*/

.thanks-card {
    text-align: center;
    padding: 15px 0;
}

.thanks-img {
    display: block;
    margin: auto;
}

.selected-rating {
    display: inline-block;
    color:hsl(25, 97%, 53%);
    background-color:hsl(213, 19%, 18%);
    height: 2rem;
    line-height: 2rem;
    border-radius: 25px;
    padding: 0 20px;
    margin: 30px 0 10px 0;
}

/*--------------------------
        Media Query
--------------------------*/

@media screen and (max-width: 500px) {
    .card-body {
        width: 87vw;
        padding: 20px;
        height: auto;
    }

    p {
        font-size: 0.9rem;
        margin-bottom: 0;
    }

    button {
        width: 75vw;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    form {
        width: 100%;
    }

    /*!!!!!!!!!!!!!!!!!!!!!
    Finish mobile media queries
   !!!!!!!!!!!!!!!!!!!!!! */

    .radio-btn {
        height: 10vw;
        width: 10vw;
        margin: auto;
        margin-top: 25px;
    }

    .selected-rating {
        margin-bottom: 0;
    }
}